spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/prj32product?serverTimezone=GMT
    username: root
    password: 123456
  application:
    name: products

---
spring:
  profiles: 8080
server:
  port: 8080

eureka:
  instance:
    prefer-ip-address: true

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone:
        http://localhost:9000/eureka

    healthcheck:
      enabled: true

---
spring:
  profiles: 8081
server:
  port: 8081

eureka:
  instance:
    prefer-ip-address: true

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone:
        http://localhost:9001/eureka

    healthcheck:
      enabled: true

---
spring:
  profiles: 8082
server:
  port: 8082

eureka:
  instance:
    prefer-ip-address: true

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone:
        http://localhost:9002/eureka

    healthcheck:
      enabled: true
